/*
* All Font-Family, Font-Size:
* All Common Font Colors for major titles/headings class
* Major Components which will be shared accross multiple pages 
*/

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --tcolor: #ae1f19;
  --scolor: #f1be32;
  --bgcolor: linear-gradient(180deg, #fafbff 0%, #f8f6fe 100%);
}
html body {
  background-color: var(--bgcolor);
}
.pcolor {
  background-color: var(--tcolor);
}
.tcolor {
  color: var(--pcolor) !important;
}
button{
  border-radius: 0px !important;
 
}

.bgcolor {
  background-color: var(--tcolor);
}
select {
  font-size: 1400px;
  padding: 10px 15px;
}

/* / ########## Navbar ########## / */
.navbar-nav li a {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 15px;
  color: var(--tcolor);
}

.navbar-nav li a:hover {
  color: var(--scolor);
}
.navbar-nav .nav-item {
  margin-right: 10px;
}

/* Form */

.form-control,
.form-select {
  font-size: 14px;
  font-family: "SF Pro Text", sans-serif;
  font-weight: 100;
  padding: 10px 15px;
}

/* / ########## footer ########## / */
.footer {
  background-color: var(--tcolor);
  font-family: "PT Sans";
}
.footer-link .nav-link {
  padding: 3px 0px;
}

.footer-link li a {
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
  color: white;
}
.footer-link li a:hover {
  color: var(--scolor);
}
.col .footer-head {
  font-weight: 700;
  font-size: 16px;
}

.social,
.contact,
.social-title h6,
.copyright h6 {
  font-size: 12px;
  font-weight: 700;
}

.social-icon li a img:hover {
  color: var(--scolor) !important;
}


/* form error message  */
/* form validation css  */
.error{
  color: red;
  font-size: 11px;
  font-family: "SF Pro Text";
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .navbar-nav li a {
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 12px;
    color: var(--tcolor);
  }
}
