
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --pcolor:  #AE1F19;
    --scolor:  #F1BE32;
}
.switchacc button{
    font-size: 16px;
    padding: 13px 47px;
    border: none;
    border-radius: 5px;

}

.key-points {
    padding-top: 10px;
    padding-left: 10px;
}
.key-points ul{

    list-style: disc;
    font-size: 12px;
}

/* card */
.pcolor{
    background-color: #AE1F19;
}
.tbtns.active{
    background-color: #AE1F19;

}
.back-top{
    background-color: var(--pcolor);
}
.backbtn{
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    background-color: var(--pcolor);
    color: #ffff;
    margin-top: 15px;
    margin-left: 10px;


}
.cardimg{
    overflow: hidden;
    border-radius: 8px;
    width: auto;
    text-align: center;
    height: 160px;
}
.card-img{
    width: auto;
    height: 100%;
}
.cardcontainer{
    height: 500px;
}

.card{
    border: none;
    transition: transform 0.6s cubic-bezier (0.160, 0.777, 0.40, 1.250);
    height:100%;

}


/* card back css properties */
.close{
    background-color: none;
    font-size: 16px;
}

.back h6{
    color: var(--scolor);
}

/* TO FLIP */
.back {
    transform: rotateY(180deg);
    color: #ffff;
    height: 100%;
    overflow-y: scroll;
 
  }
  
  .back.flipped {
    transform: rotateY(0deg);

  }
  .accordion {
    --bs-accordion-color: #ffff;
    --bs-accordion-bg: #none;
    --bs-accordion-border-color: none;
    outline: none;

    

}
.accordion-item{
    outline: none;
    margin: 40px 10px;
}
.accordion button{
    font-size: 14px;
    font-weight: 500;
    padding: 10px 10px;
    border: 2px solid var(--scolor);

    border-left: none;
    border-right: none;
    color: #ffff;
    outline: none;
}
.accordion-button:focus{
    border-color: var(--scolor);
}

.accordion-button:not(.collapsed) {
    background-color: var(--pcolor);
    color: #ffff ;

}

.accordion-body{
    font-size: 14px;
    border: 2px solid var(--scolor);
    border-top: none;
}

  .front {
    transform: rotateY(0deg);
    border-color: var(--pcolor);
    
  }
  
  .front.flipped {
    background-color: var(--pcolor);
    transform: rotateY(180deg);
  }

/* to make transition smooth */
.front,
.back {
border: 2px solid var(--pcolor);
  box-sizing: border-box;
  border-radius: 0.25rem;
  height: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 100%;
  transition: transform 0.5s ease;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
}
.contentR{
    display: none;
}
.contentR.show{
    display: block;
}

/* card internal properties */
.intrest-tag{
    height: 35px;
    width: 50%;
    font-size: 12px;
    /* background-image: url("assets/images/Group\ 89.jpg"); */
    background-image: url("../images/Group\ 89.jpg");
    background-size:cover;
    background-position: left;
    background-repeat: no-repeat;
}
.c-name{
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    color: #AE1F19;
 
}

.openaccount {
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    background-color: var(--pcolor);
    color: #ffff;
    height: 40px !important;
}
.viewdetails{
    font-weight: 400;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    margin-top: 5px;
    height: 40px !important;
}

/* cardhover effext */
.card:hover .front{
    background-color: var(--pcolor);
}
.card:hover .key-points {
    color: white;
}

.card:hover .c-name {
    color: var(--scolor) ;
}
.card:hover .intrest-tag {
    font-weight: 600;
    color: black !important;
    background-image: url("../images/hovertag.jpg");
}
.card:hover .openaccount{
    color: var(--scolor);
    border: 1px solid var(--scolor);
}
@media only screen and (max-width: 282px) {
    .tbtns{
        font-size: 12px !important;
        padding: 10px 15px !important;
   }
   .cardcontainer{
       width: 90% !important;
       justify-content: center;
       align-items: center;
       display: flex;
       height: 380px;
   }
   .cardimg{
       height: 100px !important;

   }
   .card{

       width: 100%;
       background-color: none;
   }

   .card-body{
       padding-left: 5px;
       padding-right: 5px;
       padding-bottom: 5px;

   }

   .c-name {
     font-size: 10px;
     padding: 0px !important;
     margin-bottom: 5px;

   }
   .key-points{
       padding-left: 5px;
       padding-top: 5px !important;
       font-size: 10px !important;
       line-height: 15px;
   }
   .intrest-tag{
        width: 60%;
       height: 22px!important;
       font-size: 9px;
       background-size:cover;
       background-position: right;
   }
   .tbtns {
    font-size: 10px;
     padding: 5px 10px;
   }
   .viewdetails{
       height: 50px !important;
   }
  
}

@media only screen and (min-width: 283px) and (max-width: 370px) {
    .tbtns{
        font-size: 12px !important;
        padding: 10px 15px !important;
   }
   .cardcontainer{
       width: 80% !important;
       justify-content: center;
       align-items: center;
       display: flex;
       height: 360px;
   }
   .cardimg{
       height: 120px !important;

   }
   .card{

       width: 100%;
       background-color: none;
   }

   .card-body{
       padding-left: 5px;
       padding-right: 5px;
       padding-bottom: 5px;

   }

   .c-name {
     font-size: 12px;
     padding: 0px !important;
     margin-bottom: 5px;

   }
   .key-points{
       padding-left: 5px;
       padding-top: 5px !important;
       font-size: 10px !important;
       line-height: 15px;
   }
   .intrest-tag{
        width: 50%;
        background-size: cover;
        background-position: left;
       height: 25px!important;
       font-size: 10px;
   }
   .openaccount {
      height: 30px !important;
   }
   .viewdetails{
       height: 30px !important;
   }
  
}

@media only screen and (min-width: 371px) and (max-width: 480px) {
    .tbtns{
        font-size: 12px !important;
        padding: 10px 15px !important;
   }
   .cardcontainer{
       width: 60% !important;
       justify-content: center;
       align-items: center;
       display: flex;
       height: 380px;
   }
   .cardimg{
       height: 120px !important;

   }
   .card{

       width: 100%;
       background-color: none;
   }

   .card-body{
       padding-left: 5px;
       padding-right: 5px;
       padding-bottom: 5px;

   }

   .c-name {
     font-size: 12px;
     padding: 0px !important;
     margin-bottom: 5px;

   }
   .key-points{
       padding-left: 5px;
       padding-top: 5px !important;
       font-size: 10px !important;
       line-height: 15px;
   }
   .intrest-tag{
        width: 50% ;
       height: 25px!important;
       font-size: 10px;
   }
   .openaccount {
      height: 30px !important;
   }
   .viewdetails{
       height: 30px !important;
   }
  
}

@media only screen and (min-width: 481px) and (max-width: 576px) {
    .tbtns{
         font-size: 12px !important;
         padding: 10px 15px !important;
    }
    .cardcontainer{
        width: 55% !important;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 400px;
    }
    .cardimg{
        height: 150px;

    }
    .card{

        width: 100%;
        background-color: none;
    }

    .card-body{
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;

    }

    .c-name {
      font-size: 12px;
      padding: 0px !important;
      margin-bottom: 5px;

    }
    .key-points{
        padding-left: 5px;
        padding-top: 5px !important;
        font-size: 10px !important;
        line-height: 15px;
    }
    .intrest-tag{
        height: 25px!important;
        font-size: 10px;
    }
    .openaccount {
       height: 30px !important;
    }
    .viewdetails{
        height: 30px !important;
    }
}


@media only screen and (min-width: 576px) and (max-width: 768px) {
    .cardimg{
        height: 130px;

    }
 
    .tbtns{
        font-size: 14px !important;
   }
    .cardcontainer{
        height: 390px;
    }
    .card{
        width: 105%;
        background-color: none;
    }


    .card-body{
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
    }

    .c-name {
      font-size: 12px;

    }
    .key-points{
        padding-left: 5px;
        padding-top: 5px !important;
        font-size: 10px !important;
        line-height: 16px;
    }
    .intrest-tag{
        height: 25px!important;
        font-size: 10px;
    }
    .openaccount {
       height: 30px !important;
    }
    .viewdetails{
        height: 30px !important;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .cardimg{
        height: 150px;

    }
    .tbtns{
        font-size: 14px !important;
   }
    .cardcontainer{
        height: 410px;
    }
    .card{
        width: 105%;
        background-color: none;
    }


    .card-body{
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
    }

    .c-name {
      font-size: 12px;

    }
    .key-points{
        padding-left: 5px;
        padding-top: 5px !important;
        font-size: 10px !important;
        line-height: 16px;
    }
    .intrest-tag{
        height: 25px!important;
        font-size: 10px;
    }
    .openaccount {
       height: 30px !important;
    }
    .viewdetails{
        height: 30px !important;
    }

  }

  @media only screen and (min-width: 992px) and (max-width: 1200px){
    .cardimg{
        height: 140px;

    }
    .cardcontainer{
        height: 460px;
    }

  }

  @media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .cardcontainer{
        height: 400px;
    }
    
    .intrest-tag{
        height: 30px;
        font-size: 10px;
        font-weight: 600;
    }
    .cardimg{
        height: 120px;

    }
    .c-name {
        font-size: 14px;
        padding: 5px !important;
        line-height: 20px;
      }
      .key-points{

        padding-top: 8px !important;
        font-size: 10px !important;

    }
    .card-body{
        padding-bottom: 8px;
    }
    .openaccount {
        height: 35px !important;
     }
     .viewdetails{
         height: 35px !important;
     }
   
  }