/* home page specific css for components like: card heights, card styles etc */
.slick {
  font-family: "PT Sans";
  background: #ae1f19;
  color: #f1be32;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  /* height: 60px; */
}

.slick-slide {
  padding-top: 7px;
  display: flex;
}
.slick-slide a {
  padding: 0px 10px;
  border-right: 1px solid #eee;
  line-height: 19px;
}
.slick-link {
  height: 34px;
}
.slide:hover {
  color: white;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.7;
}

.carousel-caption {
  bottom: 100px;
  text-align: left;
}

/* / ########## Our Features cards ########## / */
.container-feature h3 {
  color: #ae1f19;
  font-family: "SF Pro Text";
  font-weight: 700;
}
.card.feature-card {
  height: 210px;
}
.card {
  box-shadow: 1px 1px 5px 0.65px rgba(233, 119, 119, 0.15);
  border: none;
}
.card:hover {
  background-color: #ae1f19 !important;
  transform: scale(1.1);
  transition: 0.5s;
}

.card:hover h6 {
  color: white;
}

.card h6 {
  text-decoration: none;
  font-size: 14px;
  font-family: "SF Pro Text";
  font-weight: 700;
  margin-top: 60px;
  color: #ae1f19;
}
.hoverImg {
  background-repeat: no-repeat;
}
.hoverImg:hover {
  background-repeat: no-repeat;
}

.CardImg {
  background-size: 48px;
  background-position-x: center;
  background-position-y: 50px;
}

/* card-1 img  */
.img1 {
  background-image: url("../images/home/CardIMG/OpenKYCAccount.png");
}
.img1:hover {
  background-image: url("../images/home/HoverIMG/OpenKYCAccount.png");
}

/*  card-2 img  */
.img2 {
  background-image: url("../images/home/CardIMG/OpenAccountOnline.png");
}
.img2:hover {
  background-image: url("../images/home/HoverIMG/OpenAccountOnline.png");
}

/* card-3 img  */
.img3 {
  background-image: url("../images/home/CardIMG/LoanEligibility.png");
}
.img3:hover {
  background-image: url("../images/home/HoverIMG/LoanEligibility.png");
}

/*  card-4 img  */
.img4 {
  background-image: url("../images/home/CardIMG/GeneralRequest.png");
}
.img4:hover {
  background-image: url("../images/home/HoverIMG/GeneralRequest.png");
}

/* card-5 img  */
.img5 {
  background-image: url("../images/home/CardIMG/DisputeClaim.png");
  background-size: 28px;
  background-position-x: center;
  background-position-y: 50px;
}
.img5:hover {
  background-image: url("../images/home/HoverIMG/DisputeClaim.png");
}

/* card-6 img */
.img6 {
  background-image: url("../images/home/CardIMG/QRMerchantAquisition.png");
}
.img6:hover {
  background-image: url("../images/home/HoverIMG/QRMerchantAquisition.png");
}
