<!-- ######## Start Footer Section ######## -->
<footer class="footer border-top mt-5 border-warning border-2">
  <div class="container-fluid">
    <div class="row justify-content-evenly">
      <div class="col-11">
        <!-- row-1 -->
        <div class="row justify-content-center mt-4">
          <div class="col-md-3 col-sm-3 col-lg-3 col-xl-5 p-0 mx-0 mt-3">
            <h6 class="text-warning footer-head">Learning & Development</h6>
            <ul class="footer-link p-0">
              <li class="nav-link">
                <a href="#">Training Details</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 p-0 col-lg-3 col-sm-4 col-xl-5 mx-auto mt-3">
            <h6 class="text-warning footer-head">Rates, Charges and limits</h6>
            <ul class="footer-link p-0">
              <li class="nav-link">
                <a href="#">Gold Rate</a>
              </li>
              <li class="nav-link">
                <a href="#">Interest Rates</a>
              </li>
              <li class="nav-link">
                <a href="#">Base Rates & Interest Spread</a>
              </li>
              <li class="nav-link">
                <a href="#">Standard Tariff of Charges</a>
              </li>
              <li class="nav-link">
                <a href="#">Stock Exchange</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 p-0 col-lg-3 col-sm-3 col-xl-2 mx-auto mt-3">
            <h6 class="text-warning footer-head">News/Notice</h6>
            <ul class="footer-link p-0">
              <li class="nav-link">
                <a href="#">News</a>
              </li>
              <li class="nav-link">
                <a href="#">Notice</a>
              </li>
              <li class="nav-link">
                <a href="#" class="text-uppercase">csr</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- row-2 -->
        <div
          class="row d-flex justify-content-between align-items-center social-link mt-4 text-white"
        >
          <div class="col-12">
            <div class="row justify-content-lg-between">
              <div
                class="px-0 col-12 col-lg-9 justify-content-lg-between col-xl-7 mx-0 mt-2 contact"
              >
                <div class="row d-flex ms-2">
                  <div class="col-md-4 col-lg-2 px-0">
                    <li class="nav-link p-md-0 py-3">
                      <img
                        src="./assets/images/Footer Social Icon/phone.png"
                        height="20px"
                        alt=""
                      />
                      : 01-4268719
                    </li>
                  </div>
                  <div class="col-md-4 col-lg-3 px-0">
                    <li class="nav-link p-md-0 py-3">
                      <img
                        src="./assets/images/Footer Social Icon/phone.png"
                        height="20px"
                        alt=""
                      />
                      Toll Free: 16600115015
                    </li>
                  </div>
                  <div class="col-md-4 col-lg-6 px-0">
                    <li class="nav-link p-md-0 py-3">
                      <img
                        src="./assets/images/Footer Social Icon/mail.png"
                        height="20px"
                        alt=""
                      />
                      : info@mahalaxmibank.com.np
                    </li>
                  </div>
                </div>
              </div>
              <div
                class="d-flex align-items-start col-md-4 col-lg-3 col-xl-3 justify-content-lg-end mx-0 contact pt-2"
              >
                <p class="text-center">Connect with Us</p>
                <div class="d-flex ms-3 social-icon">
                  <li class="nav-link px-2">
                    <a
                      href="https://www.facebook.com/mahalaxmibikasbank/"
                      target="_blank"
                    >
                      <img
                        src="./assets/images/Footer Social Icon/Facebook.png"
                        height="20px"
                        alt=""
                      />
                    </a>
                  </li>
                  <li class="nav-link px-2">
                    <a
                      href="https://twitter.com/bank_bikas?lang=en"
                      target="_blank"
                    >
                      <img
                        src="./assets/images/Footer Social Icon/Twitter.png"
                        height="15px"
                        alt=""
                      />
                    </a>
                  </li>
                  <li class="nav-link px-2">
                    <a
                      href="https://www.youtube.com/watch?v=5h57KaIbLWs"
                      target="_blank"
                    >
                      <img
                        src="./assets/images/Footer Social Icon/Youtube.png"
                        height="19px"
                        alt=""
                      />
                    </a>
                  </li>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- row-3 -->
        <div
          class="row copyright border-top border-1 border-warning mt-1 text-center"
        >
          <h6 class="text-white mt-2">
            Copyright &#169; 2022 Mahalaxmi Bikas Bank Limited.All Rights
            Reserved.
          </h6>
          <h6 class="text-white">Crafted by Inficare</h6>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ######## End Footer Section ######## -->
